{% extends 'base.html.twig' %}

    {% block title %}
        Une erreur est survenue
    {% endblock %}

    {% block header_title %}<h1>Oups! Une erreur est survenue</h1>{% endblock %}

    {% block body %}
            <h2>Le serveur retourne une erreur "{{ status_code }} {{ status_text }}".</h2>

            <hr>
            <h3>Il semblerait que la page que vous demandée n'existe pas !</h3>

            <hr>
            <a href="{{ path('homepage') }}" class="btn btn-primary btn-xl">Retourner à l'accueil</a>

    {% endblock %}