{% extends "::errorbase.html.twig" %}


    {% block status %}
        <p>Quelque chose s'est mal passé. Merci de nous informer de ce que vous faisiez juste avant de rencontrer cette erreur.
        Nous tâcherons de régler le problème le plus rapidement possible. Nous somme désolé du désagrément causé.</p>
    {% endblock %}

