{% extends "::base.html.twig" %}


    {% block body %}

        <br/>
        <div class="container">

            <h1>Oups! Une erreur est survenue</h1>
            <br/>
            <hr>
            <h2>Le serveur retourne une erreur "{{ status_code }} {{ status_text }}".</h2>
            <hr>
            <h3>
                Une erreur interne au serveur est survenue...
            </h3>

            <a href="{{ path('homepage') }}" class="btn btn-primary btn-xl">Retourner à l'accueil</a>

        </div>


    {% endblock %}