{% extends 'base.html.twig' %}

    {% block header_title %}<h1>Oups! Une erreur est survenue</h1>{% endblock %}
    {% block header_img %}{% endblock %}
    {% block body %}
        <h2>Le serveur retourne une erreur "{{ status_code }}".</h2>
        <hr>
        <h3>Vous n'avez pas les droits necessaires...</h3>
        <hr>
        <a href="{{ path('homepage') }}" class="btn btn-primary btn-xl">Retourner à l'accueil</a>
    {% endblock %}